footer {
    margin: auto;
    width: 100%;
    min-width: 350px;
    background-color: #000;
    color: #cacacc;
}

.footer-box {
    margin: 0 auto;
    width: 100%;
    max-width: 1350px;
}

.fh-box {
    margin: 0 auto;
    width: 95%;
    justify-content: space-between;
    padding-top: 43px;
}

.fh-maker {
    width: 170px;
}

.icon-link>.bi {
    padding-right: 7px;
    width: 30px;
    height: 30px;
}

footer span,
footer a,
footer path {
    font-size: 15px;
    color: #666;
}

.bi-geo-alt-fill {
    width: 12px;
    height: 12px;
}

#copy {
    width: 380px;
    margin-left: 2%;
}

.ff-box {
    width: 95%;
    margin: 0 auto;
    border-top: 1px solid #cacaca;
}

.ff-address {
    margin-top: 30px;
}

.ff-address span,
.ff-address a {
    font-size: 14px;
    color: #888;
}

.ff-address a:hover,
.Icons-box a:hover path {
    color: #fff;
}

.Icons-box {
    float: right;
    margin-right: 2.8%;
}

/* width 1200px 이상시 */
@media (min-width: 1070px) {
    footer {
        height: 200px;
    }

    .fl-box {
        width: 553px;
    }

    .fl-box,
    .fh-box {
        display: flex;
    }

    .Icons-box {
        padding-top: 26px;
    }
}

/* width 601px 이상시 */
@media (max-width: 1069px) and (min-width: 601px) {
    footer {
        height: 230px;
    }

    .terms-box {
        margin-top: 2px;
    }

    .Icons-box {
        padding-top: 20px;
    }
}

/* width 601px 이상시 */
@media (max-width: 600px) {
    footer {
        height: 330px;
    }

    .Icons-box {
        padding-top: 25px;
    }
}