footer {
    width: 100%;
    background-color: #000;
    color: #cacacc;
}

div.fh-box {
    width: 95%;
    justify-content: space-between;
    padding-top: 43px;
}

a.fh-maker {
    width: 170px;
}

a.icon-link>svg.bi {
    padding-right: 7px;
    width: 30px;
    height: 30px;
}

footer span,
footer a,
footer path {
    font-size: 15px;
    color: #666;
}

svg.bi-geo-alt-fill {
    width: 12px;
    height: 12px;
}

span#copy {
    width: 380px;
    margin-left: 2%;
}

div.ff-box {
    width: 95%;
    border-top: 1px solid #cacaca;
}

div.ff-address {
    margin-top: 30px;
}

div.ff-address span,
div.ff-address a {
    font-size: 14px;
    color: #888;
}

footer a:hover,
a.fh-maker:hover span,
div.Icons-box>a:hover path {
    color: #fff;
}

div.Icons-box {
    margin-right: 2.8%;
}

/* width 1200px 이상시 */
@media (min-width: 1070px) {
    footer {
        height: 200px;
    }

    div.fl-box {
        width: 553px;
    }

    div.fl-box,
    div.fh-box {
        display: flex;
    }

    div.Icons-box {
        padding-top: 26px;
    }
}

/* width 601px 이상시 */
@media (max-width: 1069px) and (min-width: 601px) {
    footer {
        height: 230px;
    }

    div.terms-box {
        margin-top: 2px;
    }

    div.Icons-box {
        padding-top: 20px;
    }
}

/* width 601px 이상시 */
@media (max-width: 600px) {
    footer {
        height: 330px;
    }

    div.Icons-box {
        padding-top: 25px;
    }
}