* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
}

/* header */
header {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #888;
}

.header-box {
    /* position: relative; */
    margin: 0 auto;
    width: 98%;
    min-height: 100px;
    max-width: 1350px;
}

.header-logo-img-link {
    display: block;
    width: 200px;
    height: 99px;
}

.header-menu {
    position: absolute;
    width: 500px;
    transform: translate(-50%, -100%);
    left: 50%;
    height: 45px;
}

.header-menu>li {
    width: 25%;
    padding: 5px 30px 5px 30px;
    float: left;
    text-align: center;
}

.header-menu>li>a {
    color: #555;
    font-size: 25px;
}

.header-menu>li:hover {
    border-bottom: 3px solid #000;
    color: #000;
}

.header-menu>li:hover a {
    font-size: 30px;
}

.sign {
        margin-top: -60px;
    height: 50px;
    float: right;
}

.sign-box {
    float: right;
}

.search {
    float: left;
}

/* search i con */
.searchSvg {
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translate(-135%, 32%);
    z-index: 9;
    pointer-events: none;
}

.search>.sign-search {
    position: relative;
    width: 50px;
    height: 50px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    transition: width .4s;
}

/* search placeholder 가리기*/
.search>.sign-search::placeholder {
    /* 글씨 색 없애 주는? */
    color: transparent;
}

.proFileSvg {
    margin-left: 5px;
    width: 50px;
    height: 50px;
}

/* search input 동작 */
.search>.sign-search:focus,
.search>.sign-search:hover {
    width: 190px;
    border-color: #000;
}

.profile-menu {
    display: none;
    position: absolute;
    transform: translate(30px, 2.3px);
    width: 110px;
    border-radius: 5px;
    background-color: #fff;
    border: 1.5px solid;
}


.profile-menu>ul>li {
    padding: 2px 4px 6px;
}

.profile-menu>ul>li>a {
    font-size: 15px;
    color: #777;
    display: block;
    line-height: 20px;
}

.profile-menu>ul>li>a:hover {
    color: #000;
    font-size: 17px;
}

.Test-links {
    position: absolute;
    left: 50%;
    width: 500px;
    transform: translate(-50%, 0);
    height: 800px;
    border: 1px solid #000;
}

@media (min-width: 930px) {
    header {
        display: flex;
        justify-content: space-between;
    }
    .header-box {
        height: 100px;
    }
    .header-menu {
        transform: translate(-50%, -106%);
    }
    .mobile-menu {
        display: none;
    }
}

@media (max-width: 929px) and (min-width: 90px) {
    .header-box {
        height: 150px;
    }
    .header-menu {
        transform: translate(-50%, 5%);
    }
    .mobile-menu {
        display: none;
    }
} 
/*
@media (max-width: 939px) and (min-width: 925px) {
    .header-menu {
        left: 22.5%;
    }    
} */