* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #000;

}

/* 최대 최소 크기 지정 */
.max-min {
    max-width: 1350px;
    min-width: 420px;
}

/* 가운데 보내기 */
.margn {
    margin: 0 auto;
}

/* 가운데 보내기 */
.center {
    left: 50%;
    transform: translate(-50%, 0);
}

/* 한줄로 만들기 */
.flex {
    display: flex;
}

/* 왼쪽으로 보내기 */
.left {
    float: left;
}

/* 오른쪽으로 보내기 */
.right {
    float: right;
}

/* 크기 넘어가면 감춤 */
.overflow {
    overflow: hidden;
}

/* 글자 가운데 */
.text {
    text-align: center;
}

/* footer */
footer.footer-bottom {
    /* 하단 고정 */
    bottom: 0;
    position: absolute;
}