* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #000;
}
.wrapper {
  margin: 0 auto;
  width: 100%;
}

main.map-blog {
  margin: 0 auto;
  /* widht 1350 이상으로 안 늘어남 */
  max-width: 1350px;
  /* widht 420 이하로 안 줄어듬 */
  min-width: 420px;
}

/* 슬라이드 */
.slide {
  width: 100%;
  /* height: 600px; 큰거 같아서 이미지 크기랑 같게 줄임 */
  height: 300px;
  z-index: -99;
  position: relative;
  overflow: hidden;
  margin: auto;
  /* border: 1px solid #000; */
}

.slide>img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  /* 9초 긴거 같아서 3초로 줄임 */
  animation: slideImg 3s forwards;
}

/* @keyframes opacity {
  0% {
    left: 100%;
    opacity: 0;
  }
  100%{
    left: 0%;
    opacity: 1;
  }
} */

@keyframes slideImg {
  0% {
    opacity: 0;
    left: 100%;
  }

  20% {
    left: 100%;
  }

  33.3% {
    left: 100%;
  }

  53.3% {
    left: 100%;
  }

  66.6% {
    left: 100%;
  }

  66.7% {
    opacity: 1;
    left: 100%;
  }

  86.6% {
    opacity: 1;
    left: 0;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

/*카드*/
section {
  display: flex;
}

section.card-box {
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  /* 최대 크기 설정 */
  max-width: 1350px;
  /* 최저 크기 설정 */
  min-width: 420px;
  /* border: 1px solid #000; */
}

.card {
  height: 400px;
  width: 350px;
  border-radius: 15px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.card-header {
  -webkit-transition: 0.5s;
  /*사파리 & 크롬*/
  transition: 0.5s;
  width: 100%;
  height: 270px;
  border-radius: 15px 15px 0 0;
  background-image: url("images/korea.jpeg");
  background-size: 100% 280px;
  background-repeat: no-repeat;
}

.card:hover .card-header {
  opacity: 0.8;
  height: 100px;
}

.card-header-is_closed {
  background-color: #EF5A31;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  float: right;
  margin: 15px 15px 0 0;
  border-radius: 50%;
  font-weight: bold;
  padding: 10px 10px;
  line-height: 20px;
}

.card-body-header {
  line-height: 25px;
  margin: 10px 20px 0px 20px;
}

.card-body-description {
  opacity: 0;
  color: #757B82;
  line-height: 25px;
  -webkit-transition: .2s ease-in-out;
  /*사파리&크롬*/
  transition: .2s ease-in-out;
  overflow: hidden;
  height: 180px;
  margin: 5px 20px;
}

.card:hover .card-body-description {
  opacity: 1;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  overflow: scroll;
}

.card-body-hashtag {
  color: #000;
  font-style: italic;
}

.card-body-nickname {
  color: #000;
  font-style: italic;
}

.ju-card {
  margin-top: 30px;
}

.card-body-contents {
  color: #000;
  font-style: italic;
  float: left;
}

.card-body-star {
  color: #ff1200;
  font-style: italic;
  float: right;
}

.card-body-footer {
  position: absolute;
  margin-top: 15px;
  margin-bottom: 6px;
  bottom: 0;
  width: 314px;
  font-size: 14px;
  color: #9FA5A8;
  padding: 0 15px;
}

.reg_date {
  float: right;
}

section.card-box {
  justify-content: space-between;
}

.fade-in {
  opacity: 0;
  animation: fade-in1 .3s 1s forwards;
}

@keyframes fade-in1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in2 {
  opacity: 0;
  animation: fade-in2 .3s 1.8s forwards;
}

@keyframes fade-in2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in2 {
  opacity: 0;
  animation: fade-in2 .3s 2.0s forwards;
}

@keyframes fade-in2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.commentbox {
  width: 800px;
  height: 300px;
  border: 1px solid #333;
  text-align: center;
  margin: 0 auto;
}

textarea.test {
  /* text-align: center; */
  width: 750px;
  height: 50px;
  /* top 주실거면 margin-top 으로 주셔야 해요 */
  top: 280px;
  border: none;
  resize: none;
  border: 2px solid #ff2800;
  /* 가운데 보내기 */
  transform: translate(50%, 0);
}

/* 동전 회전 애니매이션 */
.reserve-store .inner {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 600px;
}
.reserve-store .medal {
width: 334px;
height: 334px;
perspective: 600px;
}
.reserve-store .medal .front,
.reserve-store .medal .back {
  width: 334px;
  height: 334px;
  backface-visibility: hidden;
  transition: 1s;
}
.reserve-store .medal .front {
  position: absolute;
  transform: rotateY(0deg);
}

.reserve-store .medal:hover .front {
  transform: rotateY(180deg);
}

.reserve-store .medal .back {
  transform: rotateY(-180deg);
  position: relative;
}

.reserve-store .medal:hover .back {
  transform: rotateY(0deg);
}
.front img,
.back img {
  height: 100%;
  width: 100%;
}

/* footer */
footer#footer {
  bottom: 0;
}