* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #000;
}

/* header */
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #888;
}

/* 헤더 이미지 크기 */
header>.header-logo {
  width: 200px;
}

.ju {
  /* border: 1px solid; */
  width: 600px;
  margin: auto;
}

.menu {
  width: 500px;
  height: 45px;
  margin-top: 47px;
  float: right;
}

.menu>li {
  padding: 5px 30px 5px 30px;
  float: left;
  text-align: center;
}

.menu>li>a {
  color: #555;
  font-size: 25px;
}

.menu>li:hover {
  border-bottom: 3px solid #000;
  color: #000;
}

.menu>li:hover a {
  font-size: 30px;
}

.sign {
  width: 250px;
  margin: 22px 30px 0 0; 
  height: 50px; 
  /* border: 1px solid red; */
}

.sign-box {
  float: right;
}

.search {
  margin: 0 auto;
  float: left;
}

.search>.sign-search {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  /* color: #777; */
  transition: width .4s;
}

/* search placeholder 가리기*/
.search>.sign-search::placeholder {
  /* 글씨 색 없애 주는? */
  color: transparent;
}

/* search i con */
.searchSpan {
  position: absolute;
  transform: translate(-150%, 50%);
  z-index: 9;
}

/* search input 동작 */
.search>.sign-search:focus,
.search>.sign-search:hover {
  width: 190px;
  border-color: #000;
}

/* search input 동작시 i con */
.search>.sign-search:focus~span.searchSpan,
.search>.sign-search:hover~span.searchSpan {
  /* 클릭 X */
  pointer-events: none;
}

/* search input 동작시 search input plceholder */
/* .search>.sign-search:focus::placeholder, */
.search>.sign-search:hover::placeholder {
  color: #777;
}

.proFile {
  position: relative;
  margin-top: -5px;
  font-size: 60px;
}

.profile-menu {
  display: none;
  position: absolute;
  width: 110px;
  border-radius: 5px;
  background-color: #fff;
  border: 1.5px solid;
}


.profile-menu>ul>li {
  padding: 2px 4px 6px;
}

.profile-menu>ul>li>a {
  font-size: 15px;
  color: #777;
  display: block;
}

.profile-menu>ul>li>a:hover {
  color: #000;
  font-size: 17px;
}

/* 슬라이드 */
.slide {
  width: 1200px;
  height: 600px;
  z-index: -99;
  position: relative;
  overflow: hidden;
  margin: auto;
  animation: opacity 3s forwards;
  left: 100%;
}

.slide > img {
  width: 1200px;
  height: 300px;
  position: absolute;
  left: 100%;
  top: 0;
  animation: slide2 9s infinite forwards;
  animation-delay: 3s;
}
.slide > img:first-child {
  animation: slide1 9s infinite forwards;
  animation-delay: 3s;
  left: 0;
}
.slide > img:nth-child(2) {
  animation: slide2 9s infinite forwards;
  animation-delay: 3s;
}
.slide > img:last-child {
  animation: slide2 9s infinite forwards;
  animation-delay: 6s;
}

@keyframes opacity {
  0% {
    left: 100%;
    opacity: 0;
  }
  100%{
    left: 0%;
    opacity: 1;
  }
}

@keyframes slide1 {
  0%{
    opacity: 1;
    left: 0%;
  }
  20% {
    left: 0%;
  }
  33.3%{
    left: -100%;
  }
  66.5%{
    opacity: 1;
    left: -100%;
  }
  66.6%{
    opacity: 0;
    left: -100%;
  }
  66.7%{
    left: 100%;
  }
  86.6%{
    left: 100%;
  }
  100%{
    opacity: 1;
    left: 0%;
  }
}
@keyframes slide2 {
  0%{
    opacity: 1;
    left: 100%;
  }
  20% {
    left: 100%;
  }
  33.3%{
    left: 0%;
  }
  53.3%{
    left: 0%;
  }
  66.6%{
    left: -100%;
  }
  66.7%{
    opacity: 1;
    left: -100%;
  }
  86.6%{
    opacity: 0;
    left: -100%;
  }
  100%{
    opacity: 0;
    left: 100%;
  }
}


/*카드*/
section {
  display: flex;
}

.card {
	height: 400px;
	width: 350px;
	border-radius: 15px;
	display: inline-block;
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
}
.card-header {
	-webkit-transition: 0.5s; /*사파리 & 크롬*/
    transition: 0.5s;
	width: 100%;
	height: 270px;
	border-radius: 15px 15px 0 0;
	background-image: url("images/korea.jpeg");
	background-size: 100% 280px;
	background-repeat: no-repeat;	
}

.card:hover .card-header  {
	opacity: 0.8;
	height: 100px;
}

.card-header-is_closed{
    background-color: #EF5A31 ;
    color: #FFF ;
    font-weight: bold ;
    text-align: center ;
    float: right;
    margin: 15px 15px 0 0;
    border-radius: 50%;
    font-weight: bold;
    padding: 10px 10px;
    line-height: 20px;
}

.card-body-header{
	line-height: 25px;
	margin: 10px 20px 0px 20px;
}

.card-body-description  {
    opacity: 0;
    color: #757B82;
    line-height: 25px;
    -webkit-transition: .2s ease-in-out; /*사파리&크롬*/
    transition : .2s ease-in-out;
    overflow: hidden;
	height: 180px;
	margin: 5px 20px;
}

.card:hover .card-body-description {
    opacity: 1;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition : .5s ease-in-out;
    overflow: scroll;
}

.card-body-hashtag {
	color: #000;
	font-style: italic;
}
.card-body-nickname {
    color: #000;
    font-style: italic;
}

.ju-card {
  margin-top: 30px;
}

.card-body-contents {
  color: #000;
  font-style: italic;
  float: left;
}

.card-body-star {
  color: #ff1200;
  font-style: italic;
  float: right;
}

.card-body-footer {
  	position: absolute; 
  	margin-top: 15px;
  	margin-bottom: 6px;
    bottom: 0; 
    width: 314px;
    font-size: 14px;
    color: #9FA5A8;
    padding: 0 15px;
}

.reg_date {
	float: right;
}
.pa-box{
  padding-left: 100px;
}
.fade-in {
    opacity: 0;
    animation: fade-in1 .3s 1s forwards;
}
@keyframes fade-in1{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in2 {
  opacity: 0;
  animation: fade-in2 .3s 1.8s forwards;
}
@keyframes fade-in2{
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.fade-in2 {
  opacity: 0;
  animation: fade-in2 .3s 2.0s forwards;
}
@keyframes fade-in2{
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


footer {
  width: 100%;
  height: 200px;
  background-color: #000;
}

footer span, footer a, footer path {
  color: #666;
}

.Icons-box {
  padding-top: 30px;
  float: right;
  margin-right: 2.8%;
}

.icon-link>.bi {
  padding-right: 7px;
  width: 30px;
  height: 30px;
}

.fh-box {
  margin: 0 auto;
  width: 95%;
  justify-content: space-between;
  padding-top: 43px;
}

.fl-box, .fh-box {
  display: flex;
}

.bi-geo-alt-fill {
  width: 12px;
  height: 12px;
}

#copy {
  margin-left: 20px;
}

.ff-box {
  width: 95%;
  margin: 0 auto;
  border-top: 1px solid;
}

.ff-address {
  margin-top: 30px;
}

.ff-address span, .ff-address a {
  font-size: .9em;
  color: #888;
}

.ff-address a:hover {
  color: #fff;
}