/* main css */
main#main-sign-box {
    padding-bottom: 30px;
    padding-top: 10px;
    color: #000;
}
main#main-sign-box_in.sign_in {
    margin-top: 70px;
}

/* sign page h1 */
main#main-sign-box h1.sign_Title {
    margin-top: 20px;
}

/* form css */
form.sign-box {
    margin-top: 15px;
}

/* container 안 모든 div css */
main#main-sign-box div.sign-container>div,
main#main-sign-box_in div.sign-container>div {
    position: relative;
    padding-top: 20px;
    width: 50%;
    height: 63px;
}

/* sign input css */
main#main-sign-box input.sign-input,
main#main-sign-box_in input.sign-input {
    position: absolute;
    width: 67%;
    height: 47px;
    transform: translate(-50%, 0);
    left: 50%;
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
    font-size: 1.1em;
}

main#main-sign-box input.sign-input~span,
main#main-sign-box_in input.sign-input~span {
    position: absolute;
    font-size: .87em;
    color: #f00;
    left: 17.4%;
    top: 76px;
}

/* sign  label css */
main#main-sign-box label.sign-label,
main#main-sign-box_in label.sign-label {
    position: absolute;
    transform: translate(0, -50%);
    font-size: 1.28em;
    left: 17%;
    top: 50%;
    z-index: 1;
}

/* input and label hover css */
main#main-sign-box input.sign-input:hover~label.sign-label,
main#main-sign-box input.sign-input:focus~label.sign-label,
main#main-sign-box label.sign-label:hover,
main#main-sign-box label.sign-label:focus,
main#main-sign-box_in input.sign-input:hover~label.sign-label,
main#main-sign-box_in input.sign-input:focus~label.sign-label,
main#main-sign-box_in label.sign-label:hover {
    font-size: .9em;
    top: 28%;
}

/* terms css  */
div.terms {
    width: 34.2%;
    font-size: 1.1em;
    margin-top: 23px;
}

div.terms>div.terms-box_sign {
    min-width: 323px;
}


div.terms-box_sign {
    height: 120px;
    margin-top: 5px;
    border-radius: 15px;
    border-color: #000;
}

div.terms-box_sign>label {
    padding-left: 8px;
}

div.terms-box_sign>label:nth-child(1) {
    display: block;
    margin-top: 5px;
}

div.terms-box_sign>label>input[type="checkbox"] {
    accent-color: #000;
}

/* button css */
#cite_btn {
    position: absolute;
    left: 63%;
    width: 21%;
    height: 42px;
}
div.sign-btn-box {
    margin-top: 21px;
    width: 34%;
    height: 30px;
}

main#main-sign-box>form.sign-box button,
main#main-sign-box_in>form.sign-box button {
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 5px;
}

div.sign-btn-box>button  {
    width: 49%;
    height: 37px;
}

div.sign-btn-box>button#sign_in_submit {
    justify-content: center;
    display: block;
    height: 40px;
}

main#main-sign-box>form.sign-box button:hover,
main#main-sign-box_in>form.sign-box button:hover {
    background-color: #000;
    color: #fff;
}